# Brazilian eCommerce Dataset - Product Recommendation

## Olist's Business Model

**[Olist](http://www.olist.com/)** is a **Brazilian** departmental store (*marketplace*) that **operates in e-commerce segment, but is not an e-commerce itself** (*as she says*). It operates as a SaaS (*Software as a Service*) technology company since 2015. It offers a marketplace solution (*of e-commerce segment*) to shopkeepers of all sizes (*and for most segments*) to increase their sales whether they have online presence or not. 

## Olist's Solution

Olist's solution consists of three aspects: Software, Contracts with the main marketplaces and Reputation sharing. The diagram below shows how Olist links marketplaces, consumers (*Portuguese: consumidores*), and retailers (*Portuguese: varejistas*)

![Olist’s marketplace model](https://olist.com/wp-content/uploads/2018/04/Group-40.svg)

## What Olist says?

Olist says she... 

1. ... is a large department store within marketplaces.
2. ... is connected to the main e-commerces of Brazil.
3. ... does not buy products. 
4. ... does not keep products in stock.
5. ... does not carry out shipping of any products offered in its store. 
6. All products are sold and shipped by the thousands of shopkeepers (**registered on Olist***) who sell through Olist.
7. Her strength lies in union of all participating shopkeepers, who are selling physical products. 
8. Participant shopkeeper is responsible for separating, packing, and taking products to the logistics operator.

## Data Model

On Kaggle, she shared its data of 100k orders from 2016 to 2018. There are 8+1 datasets to play with and explore. The data model has been described in image below and it is organised and normalised for each category.

![Data Model](https://i.imgur.com/HRhd2Y0.png)

## Import libraries

#### Base Libraries

In [1]:
import sys 

import os 
import random

import numpy as np 
import pandas as pd 

from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_rows = 999

plt.style.use('ggplot')

#### scikit-learn Libraries

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans

## Importing Data

#### File Directory

In [3]:
file_dir = '/Users/juan/Desktop/eCommerce/data/'

El modelo de datos está compuesto por 8 Datasets, de los cuáles nos interesa trabajar con 6 (no utilizaremos la visión de los comercios). 

En concreto, para realizar la segmentación de clientes usaremos *Customers*, *Orders* y *Payments*

#### Customers Dataset

In [4]:
customers_ = pd.read_csv(file_dir + 'olist_customers_dataset.csv')

In [5]:
customers_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Columns: 5 entries, customer_id to customer_state
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [6]:
customers_.head(3).T

,0,1,2
customer_id,06b8999e2fba1a1fbc88172c00ba8bc7,18955e83d337fd6b2def6b18a428ac77,4e7b3e00288586ebd08712fdd0374a03
customer_unique_id,861eff4711a542e4b93843c6dd7febb0,290c77bc529b7ac935b93aa66c333dc3,060e732b5b29e8181a18229c7b0b2b5e
customer_zip_code_prefix,14409,9790,1151
customer_city,franca,sao bernardo do campo,sao paulo
customer_state,SP,SP,SP

#### Orders Dataset

In [7]:
orders_ = pd.read_csv(file_dir + 'olist_orders_dataset.csv')

In [8]:
orders_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Columns: 8 entries, order_id to order_estimated_delivery_date
dtypes: object(8)
memory usage: 6.1+ MB

In [9]:
orders_.head(3).T

,0,1,2
order_id,e481f51cbdc54678b7cc49136f2d6af7,53cdb2fc8bc7dce0b6741e2150273451,47770eb9100c2d0c44946d9cf07ec65d
customer_id,9ef432eb6251297304e76186b10a928d,b0830fb4747a6c6d20dea0b8c802d7ef,41ce2a54c0b03bf3443c3d931a367089
order_status,delivered,delivered,delivered
order_purchase_timestamp,2017-10-02 10:56:33,2018-07-24 20:41:37,2018-08-08 08:38:49
order_approved_at,2017-10-02 11:07:15,2018-07-26 03:24:27,2018-08-08 08:55:23
order_delivered_carrier_date,2017-10-04 19:55:00,2018-07-26 14:31:00,2018-08-08 13:50:00
order_delivered_customer_date,2017-10-10 21:25:13,2018-08-07 15:27:45,2018-08-17 18:06:29
order_estimated_delivery_date,2017-10-18 00:00:00,2018-08-13 00:00:00,2018-09-04 00:00:00

#### Order Payments Dataset

In [10]:
order_payments_ = pd.read_csv(file_dir + 'olist_order_payments_dataset.csv')

In [11]:
order_payments_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Columns: 5 entries, order_id to payment_value
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [12]:
order_payments_.head(3).T

,0,1,2
order_id,b81ef226f3fe1789b1e8b2acac839d17,a9810da82917af2d9aefd1278f1dcfa0,25e8ea4e93396b6fa0d3dd708e76c1bd
payment_sequential,1,1,1
payment_type,credit_card,credit_card,credit_card
payment_installments,8,1,1
payment_value,99.33,24.39,65.71

#### Order Items Dataset

In [13]:
order_items_ = pd.read_csv(file_dir + 'olist_order_items_dataset.csv')

In [14]:
order_items_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Columns: 7 entries, order_id to freight_value
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [15]:
order_items_.head(3).T

,0,1,2
order_id,00010242fe8c5a6d1ba2dd792cb16214,00018f77f2f0320c557190d7a144bdd3,000229ec398224ef6ca0657da4fc703e
order_item_id,1,1,1
product_id,4244733e06e7ecb4970a6e2683c13e61,e5f2d52b802189ee658865ca93d83a8f,c777355d18b72b67abbeef9df44fd0fd
seller_id,48436dade18ac8b2bce089ec2a041202,dd7ddc04e1b6c2c614352b383efe2d36,5b51032eddd242adc84c38acab88f23d
shipping_limit_date,2017-09-19 09:45:35,2017-05-03 11:05:13,2018-01-18 14:48:30
price,58.9,239.9,199
freight_value,13.29,19.93,17.87

#### Products Dataset

In [16]:
products_ = pd.read_csv(file_dir + 'olist_products_dataset.csv')

In [17]:
products_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Columns: 9 entries, product_id to product_width_cm
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [18]:
products_.head(3).T

,0,1,2
product_id,1e9e8ef04dbcff4541ed26657ea517e5,3aa071139cb16b67ca9e5dea641aaa2f,96bd76ec8810374ed1b65e291975717f
product_category_name,perfumaria,artes,esporte_lazer
product_name_lenght,40,44,46
product_description_lenght,287,276,250
product_photos_qty,1,1,1
product_weight_g,225,1000,154
product_length_cm,16,30,18
product_height_cm,10,18,9
product_width_cm,14,20,15

#### Reviews Dataset

In [19]:
reviews_ = pd.read_csv(file_dir + 'olist_order_reviews_dataset.csv')

In [20]:
reviews_.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 7 entries, review_id to review_answer_timestamp
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [21]:
reviews_.head(3).T

,0,1,2
review_id,7bc2406110b926393aa56f80a40eba40,80e641a11e56f04c1ad469d5645fdfde,228ce5500dc1d8e020d8d1322874b6f0
order_id,73fc7af87114b39712e6da79b0a377eb,a548910a1c6147796b98fdf73dbeba33,f9e4b658b201a9f2ecdecbb34bed034b
review_score,4,5,5
review_comment_title,NaN,NaN,NaN
review_comment_message,NaN,NaN,NaN
review_creation_date,2018-01-18 00:00:00,2018-03-10 00:00:00,2018-02-17 00:00:00
review_answer_timestamp,2018-01-18 21:46:59,2018-03-11 03:05:13,2018-02-18 14:36:24

## Complete Customer DataFrame Generation (including EDA)

Una vez cargados todos los Datasets, vamos a construir un único DataFrame de trabajo que contenga todos los datos. 

Para ello, **es importante validar la estructura de los Joins y el número de registros en cada una de las tablas**.

In [22]:
datasets = {
    'Customers': customers_,
    'Orders': orders_,
    'Payments': order_payments_,
    'Order Items': order_items_,
    'Products': products_,
    'Reviews': reviews_
}

for x, y in datasets.items():
    print(f'{x}', (list(y.shape)))

Customers [99441, 5]
Orders [99441, 8]
Payments [103886, 5]
Order Items [112650, 7]
Products [32951, 9]
Reviews [100000, 7]

#### Assessing Primary Keys

In [26]:
customers_['customer_id'].nunique()

99441

In [27]:
customers_['customer_unique_id'].nunique()

96096

In [28]:
orders_['order_id'].nunique()

99441

In [29]:
orders_['customer_id'].nunique()

99441

In [30]:
order_payments_['order_id'].nunique()

99440

In [31]:
order_payments_['order_id'].nunique()

99440

In [32]:
order_payments_.sort_values(by='payment_sequential', ascending=False)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
32393,ccf804e764ed5650cd8759557269dc13,26,voucher,1,23.10
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
...,...,...,...,...,...
35372,329954a78d93c0af4e24aad8677ba9bb,1,credit_card,1,83.41
35371,73130e7702a070351d67c7859ed9e12a,1,credit_card,2,60.43
35370,fcdd373db44c238886a0ecf5ec332b95,1,credit_card,4,235.48
35369,62529dde2b3d81415417822b4bc91581,1,credit_card,5,51.04
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [33]:
order_items_['order_item_id'].nunique()

21

In [47]:
order_items_['order_id'].nunique()

98666

In [25]:
order_items_['product_id'].nunique()

32951

In [23]:
products_['product_id'].nunique()

32951

In [35]:
reviews_['order_id'].nunique()

99441

In [36]:
reviews_['review_id'].nunique()

99173

### Explicit Approximation

#### Customers + Orders + Order Items

Vamos a realizar la construcción del DataFrame global y después

In [115]:
sold_products_df = customers_ \
                .merge(orders_, on='customer_id') \
                .merge(order_items_, on='order_id') \
                .merge(products_, on='product_id') \
                .merge(reviews_, on='order_id')

In [116]:
sold_products_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113322 entries, 0 to 113321
Data columns (total 32 columns):
customer_id                      113322 non-null object
customer_unique_id               113322 non-null object
customer_zip_code_prefix         113322 non-null int64
customer_city                    113322 non-null object
customer_state                   113322 non-null object
order_id                         113322 non-null object
order_status                     113322 non-null object
order_purchase_timestamp         113322 non-null object
order_approved_at                113307 non-null object
order_delivered_carrier_date     112119 non-null object
order_delivered_customer_date    110847 non-null object
order_estimated_delivery_date    113322 non-null object
order_item_id                    113322 non-null int64
product_id                       113322 non-null object
seller_id                        113322 non-null object
shipping_limit_date              113322 non-null object
price                            113322 non-null float64
freight_value                    113322 non-null float64
product_category_name            111710 non-null object
product_name_lenght              111710 non-null float64
product_description_lenght       111710 non-null float64
product_photos_qty               111710 non-null float64
product_weight_g                 113304 non-null float64
product_length_cm                113304 non-null float64
product_height_cm                113304 non-null float64
product_width_cm                 113304 non-null float64
review_id                        113322 non-null object
review_score                     113322 non-null int64
review_comment_title             13622 non-null object
review_comment_message           48592 non-null object
review_creation_date             113322 non-null object
review_answer_timestamp          113322 non-null object
dtypes: float64(9), int64(3), object(20)
memory usage: 28.5+ MB

In [117]:
keep_columns = ['customer_id', 'order_id', 'product_id', 'product_category_name', 'review_score']

In [99]:
reduced_sold_products_df = sold_products_df[keep_columns]

In [100]:
reduced_sold_products_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113322 entries, 0 to 113321
Data columns (total 4 columns):
customer_id     113322 non-null object
order_id        113322 non-null object
product_id      113322 non-null object
review_score    113322 non-null int64
dtypes: int64(1), object(3)
memory usage: 4.3+ MB

In [101]:
customer_product_count = reduced_sold_products_df.groupby('customer_id').agg({
    'product_category_name': 'nunique'
})

In [102]:
customer_product_count.columns = ['unique_products']

In [103]:
customer_product_count

                                  unique_products
customer_id
00012a2ce6f8dcda20d059ce98491703                1
000161a058600d5901f007fab4c27140                1
0001fd6190edaaf884bcaf3d49edf079                1
0002414f95344307404f0ace7a26f1d5                1
000379cdec625522490c315e70c7a9fb                1
...                                           ...
fffcb937e9dd47a13f05ecb8290f4d3e                1
fffecc9f79fd8c764f843e9951b11341                1
fffeda5b6d849fbd39689bb92087f431                1
ffff42319e9b2d713724ae527742af25                1
ffffa3172527f765de70084a7e53aae8                1

[98666 rows x 1 columns]

In [104]:
customer_product_count.describe()

       unique_products
count     98666.000000
mean          1.038098
std           0.226456
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           8.000000

In [105]:
customer_product_count['unique_products'].value_counts()

1    95430
2     2846
3      298
4       70
6       10
5        8
7        3
8        1
Name: unique_products, dtype: int64

In [106]:
selected_customers = customer_product_count[customer_product_count['unique_products'] > 1].index.values

In [107]:
len(selected_customers)

3236

In [108]:
selected_customers_df = reduced_sold_products_df[reduced_sold_products_df['customer_id'].isin(selected_customers)]

In [109]:
selected_customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7871 entries, 35 to 113255
Data columns (total 4 columns):
customer_id     7871 non-null object
order_id        7871 non-null object
product_id      7871 non-null object
review_score    7871 non-null int64
dtypes: int64(1), object(3)
memory usage: 307.5+ KB

In [110]:
selected_customers_df['customer_id'].nunique()

3236

In [113]:
review_scores = selected_customers_df.groupby(['customer_id', 'product_id'])['review_score'].agg({'review_score': 'mean'})

In [114]:
review_scores.head().T

customer_id  001450ebb4a77efb3d68be5f7887cb1e  \
product_id   dcb7642f668e09b75d526454940124b9
review_score                              2.0

customer_id                                    \
product_id   dcbdf52239601eca861bf0d1aa598fab
review_score                              2.0

customer_id  002f90a6eb386bc43bc9ba200db31a89  \
product_id   ed5f0d58e27cf65a07283c251747936f
review_score                              5.0

customer_id                                   0031abfb953b66e998f67b09e7b11375
product_id   f5068d43799fc3243cf62b290d885d3e 286ae430a4ebbf9a6048a42f362fa322
review_score                              5.0                              1.0